<ion-view name="buynow"  ng-controller="buynowCtrl">
  <ion-pane>
    <ion-nav-bar>
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
      <ion-nav-title>
        <img ui-sref="products" class="title-image" src="http://stashdapp.com/img/stashdapplogo.png">
      </ion-nav-title>
    </ion-nav-bar>

    <ion-content>
        <iframe id="myIFrame" overflow-scroll="true"></iframe>
    </ion-content>
  </ion-pane>
</ion-view>
