<ion-view name="buynowpage" hide-nav-bar="true" ng-controller="BuynowpageCtrl">
	<ion-nav-view>
        <div style="position: fixed !important; left:0; top: 0; width: 100%; " class="prodback">
            <i class="ion-chevron-down" native-ui-sref="cards" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'down'}">
            </i>
        </div>
    </ion-nav-view>

    <ion-content>
        <div>
            <iframe overflow-scroll="true" src=""></iframe>
        </div>
    </ion-content>
</ion-view>