<ion-view name="cards">
        <ion-pane ng-controller="CardsCtrl">
        <!-- <ion-spinner icon="spiral"></ion-spinner>  To be centered behind cards-->
        <!--REMOVED: on-swipe="cardSwiped($index)"-->
            <td-cards>

                <td-card ng-repeat="card in cards"
                         on-destroy="cardDestroyed($index)"
                         on-transition-right="$parent.cardSwipedRight(card.vari)"
                         on-transition-left="$parent.cardSwipedLeft(card.vari)"
                         style="background-color:white;
                         background-size: cover;
                         background-position: center center;
                         background-repeat: no-repeat;">

                    <div class="no-text" style="text-align: center">
                        <i class="icon-trash"></i>
                        <br>TRASH
                    </div>

                    
                    <!-- <img src="{{card.image}}" height="348px" /> -->
                    
                    <!-- <img id="card-image-{{card.vari}}" src="{{card.image}}" height="348px" /> -->
                    <img id="card-image-{{card.vari}}" ng-src="{{card.image}}" height="348px" />

                    <div class="yes-text" style="text-align: center">
                        <i class="icon-bag"></i>
                        <br>STASH
                    </div>
                    <!--<div ng-hide="card.loaded">I'm LOADING</div>-->

                    <div class="box1">
                        {{card.brand}}
                        <br>{{card.name}}
                        <br>${{card.price}}
                        <br>28 <i class="ion-android-favorite"></i>
                        <a ng-click="cardevent()" href="#/product/{{card.vari}}" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'up'}">See product detail</a>
                    </div>                           

                </td-card>

            </td-cards>

            <span class="previousitem"><i class="ion-reply"></i></span>

            <div class="bar bar-footer bar-balanced">
                <div class="title1">
                    <i class="icon-trash"></i><i class="ion-ios-search-strong" ng-click="refineevent()" native-options="{type: 'slide', direction:'up'}"></i><i class="icon-bag" native-ui-sref="product" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'up'}"></i>
                </div>
                <a>{{response}}</a>
            </div>


            <div id="popup2" style=" position: absolute; z-index: 9999; opacity: 1; display: none; height: 100%; width: 100%;">
                <span class="button b-close" style="top:100px;"><span>X</span></span>
                <div class="content" style="height: auto; width: auto;"></div>
            </div>


        </ion-pane>
</ion-view>

<!-- <i class="icon-trash"></i><i class="ion-ios-search-strong" ng-click="refineevent()" native-ui-sref="stores"  native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'up'}"></i><i class="icon-bag" native-ui-sref="product" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'up'}"></i> -->


