<ion-view name="menusettings"><ion-pane ng-controller="LogoutController">
<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back 
  </ion-nav-back-button>
<ion-nav-title>
        <img ui-sref="cards" class="title-image" src="http://stashdapp.com/img/stashdapplogo.png">
    </ion-nav-title>
</ion-nav-bar>


            <ion-content>

                <a href="#/cardstest" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'up'}">DEMO <br> MODE</a>

        </ion-content>

</ion-view>
