<!DOCTYPE html>
<html ng-app="stashd">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="ion.zoom/css/ion.zoom.css" rel="stylesheet">
    <link href="assets/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/ionic.tdcards.css" rel="stylesheet">
    <link href="assets/lib/glyphter/css/Glyphter.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script data-ng-if="filename" src="ion.zoom/js/vendor/jquery-1.9.0.min.js"></script>
    <script data-ng-if="filename" src="ion.zoom/js/ion-zoom/ion.zoom.min.js"></script>
    <script src="assets/lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-native-transitions/dist/ionic-native-transitions.js"></script>
    <script src="assets/js/bpopup.js"></script>
    <script src="assets/js/jquery.easing-1.3.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    

    <!-- Angular modules -->
    <script src="assets/lib/ionic/js/angular/angular-route.js"></script>
    <script src="assets/lib/ionic.tdcards/ionic.tdcards.js"></script>
    <script src="assets/lib/ionic.tdcards/collide.js"></script>

    <!-- your app's js -->
    <script src="app/stashd.module.js"></script>
    <script src="app/stashd.routes.js"></script>

    <!-- Core app views -->
    <script src="app/core/side-menus/side-menus.js"></script>
    <script src="app/core/side-menus/side-menu-right.js"></script>
    <script src="app/core/main-nav/main-nav.js"></script>

    <!-- Component app views -->
    <script src="app/components/cards/cards.js"></script>
    <script src="app/components/wardrobes/wardrobes.js"></script>
    <script src="app/components/storeshop/storeshop.js"></script>
    <script src="app/components/stylistshop/stylistshop.js"></script>
    <script src="app/components/cardstest/cardstest.js"></script>
    <script src="app/components/stylists/stylists.js"></script>
    <script src="app/components/stores/stores.js"></script>
    <script src="app/components/product/product.js"></script>
    <script src="app/components/buynow/buynow.js"></script>
    <script src="app/core/login/login.js"></script>
    <script src="app/core/login/logout.js"></script>

    <script>
    document.addEventListener("deviceready", onDeviceReady, false);

    function onDeviceReady() {
        console.log("window.open works well");
    }
    
    </script>
</head>

<body>

<!-- Header navigation -->
<main-nav></main-nav>

<!-- Navigable views of main app container -->
<ion-nav-view>
</ion-nav-view>
<div>
<!--Main app view - cards-->

<!-- End -->
</div>

</body>

</html>