<ion-view name="stylistshop">
        <ion-pane>
                    <!-- <ion-spinner icon="spiral"></ion-spinner>  To be centered behind cards-->
                    <!--REMOVED: on-swipe="cardSwiped($index)"-->
                    <td-cards>
                        <td-card ng-repeat="stylistcard in stylistcards"
                                 on-destroy="cardDestroyed($index)"
                                 on-transition-right="$parent.cardSwipedRight(stylistcard.id)"
                                 on-transition-left="$parent.cardSwipedLeft(stylistcard.id)"
                                 style="background:url('');
                         background-size: cover;
                         background-position: center center;
                         background-repeat: no-repeat;">

                            <div class="no-text" style="text-align: center">
                                <i class="icon-trash"></i>
                                <br>TRASH
                            </div>
                            <div class="yes-text" style="text-align: center">
                                <i class="icon-bag"></i>
                                <br>STASH
                            </div>

                            <div class="box1">{{stylistcard.brand}}
                                <br><span class="truncate">{{stylistcard.name}}</span>
                                <br>${{stylistcard.price}}
                                <br>28 <i class="ion-android-favorite"></i></div>
                            <!--<img src={{card.variation__image__image}}>-->
                            <!--<a href="#/product/{{stylistcard.id}}" target="_self">See product</a>-->
                            <img src="{{stylistcard.image}}" height="348px">
                            </div>
                        </td-card>
                    </td-cards>
                    <div class="bar bar-footer bar-balanced">
                        <div class="title1">
                            <i class="icon-trash"></i><i class="ion-ios-search-strong" native-ui-sref="stylists" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'up'}"></i><i class="icon-bag" native-ui-sref="product" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'up'}"></i></div>
                    </div>
                </ion-pane>
            </ion-view>


