<ion-view name="product" hide-nav-bar="true" >

    <ion-pane>
    <ion-nav-view>
        <div style="position: fixed !important; left:0; top: 0; width: 100%; " class="prodback">
            <i class="ion-chevron-down" native-ui-sref="cards" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'down'}">
            </i>
        </div>
    </ion-nav-view>
    <!--ion-pane ng-controller="productsCtrl"-->
        <!--<ion-pane ng-controller="storesCtrl">-->
        <ion-content>
            <!-- <div style="position: fixed !important; left:0; top: 0; width: 100%; " class="prodback">
                <i class="ion-chevron-down" native-ui-sref="cards" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'down'}">
                </i>
            </div> -->
            <div class="-""slidebox" style="width: 100% !important; height: 35em;">
                <ion-slide-box show-pager="true" auto-play="true" does-continue="true">
                    <ion-slide >
                        <center><img ng-click="fullscreenfunc()" style="max-height:35em;" src="{{products.image}}"></center>
                        <input class="imgurl" type="hidden" value="{{products.image}}">
                    </ion-slide>
                    <!-- <ion-slide ng-repeat="image in imgs">
                        <img ng-click="fullscreenfunc({{image}})" style="width:100%; max-height:20em;" src="{{image}}">
                        <input id="imgurl_{{image}}" type="hidden" value="{{image}}">
                    </ion-slide> -->
                </ion-slide-box>
            </div>
            <center>
                    <h1>{{products.name}}</h1>
                    <br>
                    <P>${{products.price}}</p>
                    <br>
                    {{products.description}}</b>
                <br>
                <br>
                <br>
                <!-- <a href="{{products.link}}" ng-click="buyevent()" class="button button-large button-assertive">
                    Buy Now
                </a> -->
                <a ng-click="buyevent()" class="button button-large button-assertive">Buy Now</a>
                

                <input type="hidden" id="buylink" value="{{products.link}}">

                <br>
                <br>More from<br>
                <a href="#/storeshop/{{products.store__pk}}" ng-click="prostorevisit()" native-options="{type: 'flip', direction:'down'}">
                    <img class="productstorelogo" src="{{products.store__logo}}">
                </a>
                <br>
                <br>

            </center>

            <script id="image-modal.html" type="text/ng-template">                        
                <!--div class="modal image-modal transparent" ng-click="closeModal()"-->               
                    <ion-modal-view class="modal image-modal transparent">

                        <ion-content scroll="false"  ng-click="closeModal()" style="background-color: white;">
                            
                            <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y = "false" >
                                
                                <img class="fullimg fullscreen-image" ng-src="{{imageSrc}}"/>
                            </ion-scroll>
                        </ion-content>
                    </ion-modal-view>                            
                <!--/div-->                        
            </script>
        </ion-content>
    </ion-pane>
</ion-view>