<!--Side Menu Right-->
<ion-side-menu side="right">
            
        <ion-header-bar class="bar-stable">
          <h1 class="title"></h1>
        </ion-header-bar>

        <ion-content>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search your virtual wardrobe">
  </label>
                <ion-list show-delete="false" can-swipe="true">
                               <ion-item href="#" class="item item-avatar">
                              <img src="https://s-media-cache-ak0.pinimg.com/736x/80/68/dc/8068dc370da0912656309d3ec68b6096.jpg" class="testimg">
                              <h2>Stand up heels</h2>
                              Asos Australia
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
                    </ion-item>
                    
        
        <ion-item href="#" class="item item-avatar">
        <img src="http://cdn-images.farfetch.com/11/09/14/90/11091490_5229231_480.jpg " class="testimg">
        <h2>Denim selenium</h2>
        Iconic
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>
                
        <ion-item href="#" class="item item-avatar">
        <img src="http://cdn-images.farfetch.com/11/16/12/61/11161261_5567464_480.jpg" class="testimg">
        <h2>Jean quantum</h2>
        David Jones
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>
                               <ion-item href="#" class="item item-avatar">
                              <img src="http://cdn-images.farfetch.com/11/17/55/35/11175535_5608063_480.jpg" class="testimg">
                              <h2>Stand up heels</h2>
                              Asos Australia
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
                    </ion-item>
                    
        
        <ion-item href="#" class="item item-avatar">
        <img src="http://cdn-images.farfetch.com/11/07/99/68/11079968_5198058_480.jpg" class="testimg">
        <h2>Denim selenium</h2>
        Iconic
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>
                
        <ion-item href="#" class="item item-avatar">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/e5/80/57/e58057e8611593ad70b7ab60e458b7d3.jpg" class="testimg">
        <h2>Jean quantum</h2>
        David Jones
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>
                            <ion-item href="#" class="item item-avatar">
        <img src="http://cdn-images.farfetch.com/11/06/49/44/11064944_5132559_480.jpg" class="testimg">
        <h2>Jean quantum</h2>
        General Pants
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>
                <ion-item href="#" class="item item-avatar">
        <img src="http://sheerluxe.com/sites/default/files/farfetch-dress-up-barbie-tee.jpg" class="testimg">
        <h2>Jean quantum</h2>
        David Jones
         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>
                    
                </ion-list>
        </ion-content>
      </ion-side-menu>
